body{
    background-color: black;
    color: white;
}
h1:hover{
    font-size: 50px;
}
span{
    margin: 20px;
    padding: 20px;
}
button:hover{
    background-color: red ;
}
button{
    margin: 22px;
    padding: 5px;
}
